source https://www.nuget.org/api/v2/

nuget Antlr
nuget Autofac
nuget Autofac.Mvc5
nuget bootstrap
nuget Castle.Core
nuget Castle.Windsor
nuget ExpectedObjects
nuget jQuery
nuget jQuery.Validation
nuget MahApps.Metro
nuget MahApps.Metro.Resources
nuget Microsoft.AspNet.Identity.Core
nuget Microsoft.AspNet.Identity.Owin
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Razor
nuget Microsoft.AspNet.Web.Optimization
nuget Microsoft.AspNet.WebPages
nuget Microsoft.jQuery.Unobtrusive.Validation 
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Security
nuget Microsoft.Owin.Security.Cookies
nuget Microsoft.Owin.Security.Facebook
nuget Microsoft.Owin.Security.Google
nuget Microsoft.Owin.Security.MicrosoftAccount
nuget Microsoft.Owin.Security.OAuth
nuget Microsoft.Owin.Security.Twitter
nuget Microsoft.Web.Infrastructure
nuget Modernizr
nuget NDesk.Options
nuget Newtonsoft.Json 6.0.8 framework: >= net45
nuget Owin
nuget Respond
nuget WebGrease
nuget WindowsAzure.Storage
nuget xunit